

.share-box{
   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background: #ececec;
    border-radius: 100px;
    text-align: center;
    padding: 9px;
    float: right;
    margin-right: 185px;
    margin-top: 81px;
    box-shadow: 10px 10px 15px #c7c4c4,
    -10px -10px 15px #ffff;

}


.share-box a .fa{
    font-size: 30px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    overflow: hidden;
    margin: 0 15px;
    border-radius: 50px;
    box-shadow: 5px 5px 5px #c7c4c4,-5px -5px 5px #fff;
    transition: .3s;
}



.share-box a .fa-facebook{
    color: #3b5999;
}

.share-box a .fa-twitter{
    color: #55acee;
}

.share-box a .fa-instagram{
    color: #e4405f;
}

.share-box a .fa-envelope{
    color: coral;
}